fastapi==0.115.0
uvicorn==0.32.0
python-multipart==0.0.12
PyMuPDF==1.24.11
pdfplumber==0.11.4
python-dotenv==1.0.1
requests==2.32.3
pydantic==2.10.3
fastapi-cors==0.0.6
numpy==2.1.3
pandas==2.2.3
scipy==1.14.1
scikit-learn==1.5.2
spacy==3.8.2
nltk==3.9.1
textdistance==4.6.3
fuzzywuzzy==0.18.0
python-levenshtein==0.26.0